API_VERSION=v1
project_id=
BUCKET=geo-ai
CT_URL=http://192.168.2.46:9000
LOCAL_URL=http://192.168.2.46:6767
POSTGRES_CONNECTION=postgresql://airflow:airflow@postgres:5433/geopredictor
AIRFLOW_CONN_GEOPREDICTOR_DB=postgresql://airflow:airflow@postgres:5433/geopredictor
AIRFLOW_CONN_AIRFLOW_DB=postgresql://airflow:airflow@postgres:5432/airflow
EE_PRIVATE_KEY=